version: "3"
services:
  nginx:
    container_name: board-nginx
    image: ${DOCKER_USERNAME}/nginx:board-v1
    ports:
      - 80:80
    command: [nginx-debug, "-g", "daemon off;"]
    links:
      - flask
    depends_on:
      - flask
    networks:
      - nginx_network
  flask:
    container_name: board-flask
    image: ${DOCKER_USERNAME}/flask:board-v1
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - mysql
    volumes:
      - ./:/code
    links:
      - mysql
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=PROJECT
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - MYSQL_PORT=3306
    networks:
      - nginx_network
      - private_network
  mysql:
    container_name: board-mysql
    image: mysql:8.0.19
    restart: always
    ports:
      - 3306:3306
    networks:
      - private_network
    environment:
      - MYSQL_DATABASE=PROJECT
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
volumes:
  mysql:

networks:
  private_network:
    driver: bridge
  nginx_network:
    external: true
